<div class="container p-5 border border-2 border-dark rounded mt-5 gradient-container">
  <h1 class="text-center">Branch Tracks</h1>
  <div class="row">
    <div class="col-md-4">
      <select name="branch" id="" class="form-select" [(ngModel)]="branch">
        >
        <option value="AllBranchs">All Branchs</option>
        <option value="Branch 1">Branch 1</option>
        <option value="Branch 2">Branch 2</option>
        <option value="Branch 3">Branch 3</option>
        <option value="Branch 4">Branch 4</option>
      </select>
    </div>
    <div class="col-md-8">
      @for (track of tracks; track $index) { @if (branch == "AllBranchs" ||
      track.branch == branch) {
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">{{ track.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{  track.branch }}</h6>
          <p class="card-text">
            {{ track.description }}
          </p>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
